## 파이썬으로 하는 퀀트투자
https://youtu.be/nQD-w_YSPvY

### 1. datetime라이브러리 날짜와 시간

In [1]:
import datetime

date(년/월/일), time(시간), timedelta(기간->날짜 연산시 이용), datetime(년/월/일/시/분/초)

In [3]:
# 지정한 날짜 datetime 형식으로 출력
print(datetime.date(2020, 5, 15))

2020-05-15

In [14]:
# 오늘 날짜를 datetime 형식으로 출력
today = datetime.date.today()
print(today)

2022-08-05

In [8]:
# 지정한 시간 datetime 형식으로 출력
print(datetime.time(14, 25, 32))

<class 'datetime.time'>

In [12]:
# 지정한 기간을 출력 
week = datetime.timedelta(weeks=1)
print(week) # 일주일 = 7일
print(week*2) # 일주일 * 2 = 14일

7 days, 0:00:00
14 days, 0:00:00

In [15]:
# 지정한 날짜에 week를 더하면 +7일 한 날짜가 출력됨
today + week

datetime.date(2022, 8, 12)

In [17]:
# strptime() 'p'타임 -> 날짜와 시간 형식의 문자열을 datetime으로 변환
datetime_dt = datetime.datetime.strptime('2015-2-14 16:23:45', '%Y-%m-%d %H:%M:%S')
print(datetime_dt)

2015-02-14 16:23:45

In [18]:
datetime_dt + week

datetime.datetime(2015, 2, 21, 16, 23, 45)

In [22]:
# strftime() 'f'타임 -> 날짜와 시간(datetime)을 문자열로 출력
datetime_str = datetime_dt.strftime('%Y-%m-%d %H:%M:%S')
datetime_str

'2015-02-14 16:23:45'

In [24]:
# datetime을 str으로 출력할 때 출력 형식을 바꿀 수도 있음
datetime_str = datetime_dt.strftime('%Y-%m %H:%M')
datetime_str #년-월 시-분 만 출력

'2015-02 16:23'

### 2. numpy에서 날짜와 시간 다루기

In [25]:
import numpy as np

iso 국제표준방식

In [26]:
np.datetime64('2021-12-02')

numpy.datetime64('2021-12-02')

utc

In [28]:
# utc 시간 '1970년 1월 1일 00:00:00'부터 1000초 경과한 시점
np.datetime64(1000, 's')

numpy.datetime64('1970-01-01T00:16:40')

In [30]:
# np.array로 적은 날짜를 datetime 형식으로 출력
np.array(['2022-08-01', '2022-08-02', '2022-08-03'], dtype='datetime64')

array(['2022-08-01', '2022-08-02', '2022-08-03'], dtype='datetime64[D]')

In [31]:
# np.arange(시작일, 종료일, dtype = 날짜 출력 기간 설정)
np.arange('2022-08-01', '2022-08-05', dtype='datetime64[D]')

array(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04'],
      dtype='datetime64[D]')

### 3. 판다스로 날짜와 시간 다루기
* Timestamp
* Period

In [32]:
import pandas as pd

In [34]:
# iso 방식
a = pd.Timestamp('2020-12-12 11:22:33')
a

Timestamp('2020-12-12 11:22:33')

In [35]:
print(a)

2020-12-12 11:22:33

In [36]:
# utc 방식
b = pd.Timestamp(1000, unit='D')
b

Timestamp('1972-09-27 00:00:00')

In [39]:
c = pd.to_datetime('2021-1-2 11:33:55')
c

Timestamp('2021-01-02 11:33:55')

In [48]:
d = pd.to_datetime(['2020-1-1', '2021-2-25'])
d

DatetimeIndex(['2020-01-01', '2021-02-25'], dtype='datetime64[ns]', freq=None)

In [45]:
e = pd.date_range('2020-1', '2021-12')

In [46]:
e

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-11-22', '2021-11-23', '2021-11-24', '2021-11-25',
               '2021-11-26', '2021-11-27', '2021-11-28', '2021-11-29',
               '2021-11-30', '2021-12-01'],
              dtype='datetime64[ns]', length=701, freq='D')

In [51]:
f = pd.date_range('2020-1', '2020-12', freq='B') # Business time만 출력
f

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14',
               ...
               '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-23',
               '2020-11-24', '2020-11-25', '2020-11-26', '2020-11-27',
               '2020-11-30', '2020-12-01'],
              dtype='datetime64[ns]', length=240, freq='B')

In [52]:
h = pd.Period('2021-12-15')
h

Period('2021-12-15', 'D')

In [53]:
h.start_time

Timestamp('2021-12-15 00:00:00')

In [54]:
h.end_time

Timestamp('2021-12-15 23:59:59.999999999')

In [56]:
pd.period_range('2020-3-5', '2020-8-20', freq='M')

PeriodIndex(['2020-03', '2020-04', '2020-05', '2020-06', '2020-07', '2020-08'], dtype='period[M]')

### 6. 파이낸스데이터리더로 주가데이터 수집하기

In [59]:
import FinanceDataReader as fdr

In [60]:
sa_pr = fdr.DataReader('005930', '2020-1-1')
sa_pr

             Open   High    Low  Close    Volume    Change
Date
2020-01-02  55500  56000  55000  55200  12993228 -0.010753
2020-01-03  56000  56600  54900  55500  15422255  0.005435
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.005405
2020-01-08  56200  57400  55900  56800  23501171  0.017921
...           ...    ...    ...    ...       ...       ...
2022-08-01  61000  61700  60300  61300  13154816 -0.001629
2022-08-02  61200  61900  61000  61700  13614895  0.006525
2022-08-03  61600  61600  61000  61300  10053861 -0.006483
2022-08-04  61700  61800  61200  61500   9125439  0.003263
2022-08-05  61700  61900  61200  61500   9489146  0.000000

[643 rows x 6 columns]