In [22]:
import pandas as pd
import requests

#### ROE
* 자기자본이익률 = 당기순이익 / 평균자기자본 * 100 (%) 
* 평균자기자본 = 기말자기자본과 기초 자기자본의 평균

fnguide에서 roa, roe 데이터 추출

In [17]:
def get_roa(code, year):
    url = 'https://comp.fnguide.com/SVO2/ASP/SVD_FinanceRatio.asp?pGB=1&gicode=' + code + \
        '&clD=&MenuYn=Y&ReportGB=&NewMenuID=104&stkGb=701'
    fr_page = requests.get(url)
    fr_tables = pd.read_html(fr_page.text)
    temp_df = fr_tables[0]
    temp_df = temp_df.set_index(temp_df.columns[0])
    temp_df = temp_df.loc[['ROA계산에 참여한 계정 펼치기', 'ROE계산에 참여한 계정 펼치기']]
    temp_df.index = ['ROA', 'ROE']
    temp_df = pd.DataFrame({code : temp_df[year]})
    temp_df = temp_df.transpose()
    return temp_df

In [21]:
get_roa('A005930', '2021/12')

         ROA   ROE
A005930  9.9  13.9